
.not{color: burlywood;}
#not{color: rgb(235, 240, 235);}
.note{color: greenyellow;}
.large{font-size:x-large}
.time{color: grey; font-size:x-large;}
.hukusuu ul li{font-size:small}
.size{width:100px;height:50px;}
.em {font-size:50%;}
body{background-color:#887788}
p{background-color: #8f9988;}
